<h1><i class="fa fa-newspaper-o"></i> My awesome news</h1>

  
<div class="" id="stories">

	<div class="row">
		<div class="col-md-12">
			<ul class="storiesList media-list">
				<li class="media" ng-repeat="story in pipes.stories track by $index" id="story_{{$index}}" ng-click="readMore($index);">
					<div class="img-container pull-left" ng-show="story['media:content'].url">
					      <img class="media-object" ng-src="{{story['media:content'].url}}" alt="">
					 
					</div>
					
					<div class="img-container pull-left" ng-show="!story['media:content'].url">
					      <div class="default_image">
					      	<i class="fa fa-newspaper-o"></i>
					      </div>
					 
					</div>
					
					<div class="media-body">
				      <h4 class="media-heading">{{story.title}}</h4>
				      
				      
					  <div class="description">
					  	{{story.description | cleantext}}
					  		<p>
						  		<a href="{{story.link}}" ng-click="story.link" target="_blank" class="btn btn-default readmore"><i class="fa fa-external-link-square"></i> Read more</a>
					  		</p>
					  </div>
				
				    </div>
				</li>
			</ul>
		</div>	
	</div>

</div>  